.dark-mode .bootstrap-tagsinput {
    background-color: var(--dark-bg);
    border: 1px solid var(--dark-border);
    color: hsla(0,0%,100%,.8)!important;
}

.bootstrap-tagsinput {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #eaedf1;
    border-radius: 7px;
    color: rgba(73,80,87,.75);
    display: block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 100%;
}
.jGrowl-message {
    font-size: 12px;
    direction: rtl;
}
.row-divider {
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--dark-border)!important;
    margin: 1rem;
}

.w-100 {
    width: 100% !important;
}
.select2-container {
    width: 100% !important;
}
